$blue: #83CEED;
$red: #FF7D7D;
$green: #83EDA1;
$yellow: #FFC77D;
$purple: #E7AAFF;
$new: conic-gradient(from 153.43deg at 50% 50%, #83CEED 0deg, #FEACAC 76.88deg, #E7AAFF 150deg, #FFC77D 219.37deg, #83EDA1 288.75deg, #83CEED 360deg), #C4C4C4;