@font-face {
  font-family: "GilroyBlack";
  src: url("http://127.0.0.1:8000/fonts/Gilroy-Black.ttf") format("truetype"),
}
@font-face {
  font-family: "GilroyExtraBold";
  src: url("http://127.0.0.1:8000/fonts/Gilroy-ExtraBold.ttf") format("truetype"),
}
@font-face {
  font-family: "GilroyBold";
  src: url("http://127.0.0.1:8000/fonts/Gilroy-Bold.ttf") format("truetype"),
}
@font-face {
  font-family: "GilroySemiBold";
  src: url("http://127.0.0.1:8000/fonts/Gilroy-SemiBold.ttf") format("truetype"),
}
@font-face {
  font-family: "GilroyMedium";
  src: url("http://127.0.0.1:8000/fonts/Gilroy-Medium.ttf") format("truetype"),
}